<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--全局的映射器启用或者禁用缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--启用或禁用延时加载，当禁用时，所有关联对象都会即时加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- Continue editing here -->

</configuration>